.layouts {
  height: 100vh;
  .dark-nav-link {
    color: #fff;
  }
}
.result-box {
  margin-top: 16px;
  padding: 16px;
  border-radius: 6px;
  background-color: #001529;
  color: #fff;
  h3 {
    color: #fff;
    margin-bottom: 16px;
  }
  .ant-timeline {
    color: #fff;
  }
}